.hiddenimage {
  display: none;
}
div {
  width: 30%;
  border: 1px solid black;
  height: 30%;
}
div #left {
  float: left;
}
div #right {
  float: right;
}
.image {
  height: 100%;
  width: 100%;
}
